<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :list %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
