<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <%= link_to "Moviemania" , lists_path, class:'navbar-brand text-dark' %>
      <form id="searchmovies" class="form-inline" action="/" method="get">
        <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search" name="query" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">Search</button>
        <%= link_to "Movies" , root_path, class: 'btn btn-outline-primary btn-sm ml-2' %>
        <%= link_to "Your lists" , lists_path, class: 'btn btn-outline-secondary btn-sm ml-2' %>
      </form>
    </nav>
    <%= yield %>
    <div class="row mt-5">
      <div class="col-sm-12 d-flex justify-content-center bg-light">
        <%= link_to '<i class="fab fa-github fa-2x"></i>'.html_safe, "https://github.com/laicuRoot", class: 'text-dark m-3' %>
      </div>
    </div>
  </body>
</html>
